URxvt.font:	   xft:Meslo LG S:size=10
URxvt.scrollStyle: rxvt
URxvt.scrollBar:   false
URxvt.background:  #000000
URxvt.foreground:  #ffffff
URxvt.transparent: true
URxvt.shading:     20
URxvt.cursorColor: #ffffff
URxvt.color0:      #073642
URxvt.color8:	   #002b36
URxvt.borderLess:  false
URxvt.borderColor: #000000
URxvt.fading:	   25%
